            <!-- Check if there are any comments for this post -->
            <% if (post.comments.length > 0) { %>
                <ul>
                    <!-- Loop through each comment -->
                    <% post.comments.forEach(function(comment) { %>
                        <li><%= comment.content %>
                            <small class="space-bottom">Commented By:<%= comment.user.name %>
                                <p>
                                    <!-- post owner can able to delete any comment on his post -->
                                    <% if ( locals.user && (locals.user.id == comment.user.id || locals.user.id == post.user.id)) { %>
                                        <form action="/comments/destroy/<%= comment.id %>" method="get">
                                            <button type="submit">Delete</button>
                                        </form>
                                    <% } %>
                                </p>
                            </small>
                        </li>
                    <% }); %>
                </ul>
            <% } %>

            <!-- Form to add a new comment -->
            <form action="/comments/create" method="post">
                <textarea name="content" cols="30" rows="3" placeholder="Add Comments..." required></textarea>
                <input type="hidden" name="postId" value="<%= post._id %>">
                <input type="submit" value="Add">
            </form>