<footer id="footer-style">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
    <p>&copy; 2024 Friends@Company. All rights reserved.</p>
</footer>

