<footer id="footer-style">
    <ul>
        <% if(locals.user){ %>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile/<%=user.id%>">Profile</a>
            </li>
        <% }else {%>
            <li>
                <a href="/users/SignIn">Sign In</a>
            </li>
            <li>
                <a href="/users/SignUp">Sign Up</a>
            </li>
        <% } %>
    </ul>
    <p>&copy; 2024 Friends@Company. All rights reserved.</p>
</footer>

