<h1>Sign Up Page</h1>
<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Your Name">
    <input type="text" name="email" placeholder="Your Email">
    <input type="text" name="password" placeholder="Password">
    <input type="text" name="confirm_password" placeholder="Confirm Password">
    <button type="submit">Sign Up</button>
</form>