#home-container{
    display: flex;

    #feed-posts{
        padding: 10px;
        width: 70%;
    }

    #user-friends{
        padding: 10px;
        width: 30%;
        border-left: 1px solid grey;
        text-align: center;
    }
} 