#footer-style {
  display: flex;
  /* Use flexbox */
  flex-direction: column;
  /* Arrange items vertically */
  justify-content: space-between;
  /* Distribute space between items */
  align-items: center;
  /* Center items horizontally */
  background-color: #008080;
  /* Dark background color */
  color: white;
  /* Text color */
  padding: 35px 20px;
  /* Padding inside the header */
  font-size: 30px;
  min-height: 120px;
  /* Ensure footer has minimum height */ }

#footer-style ul {
  list-style-type: none;
  /* Remove bullets from list */
  padding: 0;
  /* Remove default padding */
  margin: 0;
  /* Remove default margin */
  display: flex;
  /* Use flexbox for list */ }

#footer-style li {
  margin-left: 20px;
  /* Spacing between list items */ }

#footer-style a {
  color: white;
  /* Text color for links */
  text-decoration: none;
  /* Remove underline from links */
  font-size: 30px; }

#footer-style a:hover {
  color: greenyellow; }

#footer-style p {
  margin-bottom: auto;
  /* Push copyright text to the bottom */ }
