#home-container {
  display: flex; }
  #home-container #feed-posts {
    padding: 10px;
    width: 70%; }
  #home-container #user-friends {
    padding: 10px;
    width: 30%;
    border-left: 1px solid grey;
    text-align: center; }
